{% extends 'base.html' %}
{% block title%}Contact{% endblock %}
{% block content %}
<style>body {
  background-color: wheat;
}

h1,
h2,
h3 {
  text-align: center;

}

h1 {
  text-decoration: underline;
  color: Red;
}

h2 {
  color: rgb(42, 196, 37);
}
#hawa a{
  margin-top: 20%;
}
</style>
<body>
  <h1>Contact Me</h1>
<div  id="hawa" class="d-flex justify-content-around  flex-wrap ">
  <a  class="btn btn-info" href="https://github.com/acprasanna">LinkedIn</a>
  <a class="btn btn-info"  href="https://github.com/acprasanna">Twitter</a>
  <a class="btn btn-info"  href="https://github.com/acprasanna">Github</a>
  
</div>
</body>


  
{% endblock %}